.ModalContainer .ModalWrapper {
  --primary-bg: #2e3440;
  --secondary-bg: #3b4252;
  
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 99999; // Thanks guilded. I'm glad your servers list has a 10001 z-index. I don't know what I would do otherwise.
  
  background-color: rgba(black, 0.5);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  .GifsModal {
    background-color: var(--primary-bg);
    padding: 10px;
    border-radius: 4px;

    width: 1100px;
    max-width: 90vw;
    height: 800px;
    max-height: 90vh;
    
    overflow: hidden;
    box-shadow: 0 0 15px rgba(black, 0.5);
    
    display: flex;
    flex-direction: column;
    
    .Header {
      display: flex;
      align-items: center;
      justify-content: center;
      
      background-color: var(--secondary-bg);
      height: 35px;
      
      margin: -10px;
      margin-bottom: 12px;
      
      position: relative;
      flex-shrink: 0;
      
      .Title {
        font-size: 1.1em;
        font-weight: bolder;
      }
      
      .Button {
        width: 20px;
        height: 20px;
        
        position: absolute;
        right: 10px;
        
        cursor: pointer;
        &:Hover { color: #ff7777; }
      }
    }
    
    .SearchBar {
      outline: none;
      border: none;
      
      background-color: var(--secondary-bg);
      border-radius: 4px;
      padding: 10px;
      
      &::Placeholder {
        color: white;
        opacity: 0.5;
      }
    }
    
    .ItemsContainer {
      overflow-x: hidden;
      overflow-y: auto;
      
      padding: 5px;
      max-height: calc(100% - 80px);
      
      flex-shrink: 0;
      flex-grow: 1;
    }
    
    .Items {
      display: grid;
      grid-template-columns: repeat(auto-fit, 200px);
      grid-gap: 15px;
      
      justify-content: center;
    }
    
    .TenorGifItem {
      cursor: pointer;
      
      img {
        width: 200px;
        height: 150px;
        
        object-fit: cover;
        border-radius: 4px;
      }
    }
    
    .CategoryTitle {
      font-size: 1.2em;
      font-weight: bolder;
      
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  
  opacity: 0;
  pointer-events: none;
  
  will-change: opacity;
  transition: opacity 250ms ease-in;
  
  &.Open {
    opacity: 1;
    pointer-events: all;
  }
}