@require "./util.styl"

.ReGuilded
    // Util
    &ErrorBoundary-error
        // Align code block to the left, because we set text alignment to center in the ErrorBoundary's error display
        text-align: left
    // Settings
    &Enhancement
        // All
        &s-container
            // Looks awful when enhancement touches the very bottom
            padding-bottom: 10px
        &s-topbar
            display: grid
            grid-template-columns: 246px 1fr 246px
            margin-bottom: 16px
        &s-grid
            display: grid
            gap: 20px
            grid-template-columns: 1fr 1fr 1fr
            // Enhancement height
            grid-auto-rows: 260px

        // Single enhancement
        &-container
            transition: transform 0.1s ease-out
            &:hover
                transform: translateY(-2px)
        &-top
            position: relative
        &-banner
            position: absolute
            overflow: hidden
            top: 0
            left: 0
            right: 0

            height: 100%
            opacity: 50%
            pointer-events: none
        &-header
            padding: 20px 25px 5px 25px
        &-footer
            padding: 15px 25px 10px 25px
        &-version
            margin-top: 12px
        &-author
            margin-top: 12px
        &-overflow
            position: absolute
            top: 20px
            right: 12px
            z-index: 3
            opacity: 0
        &-container:hover &-overflow
            opacity: 1

        // Enhancement page
        &Page
            &-wrapper
                max-width: 100%
            &-warning
                margin-bottom: 16px
        &Images-image
            // Otherwise carousel won't work
            position: relative

            min-width: 250px
            height: 250px

            &:not(:first-child)
                margin-left: 10px
    &Settings-container
        &-padded
            padding-horizontal: 32px
        &-top-padded
            padding-top: 20px
