// Size is an existing property, but we don't need that
size()
    width: arguments
    height: arguments
sides(name, args...)
    {name}-left: args
    {name}-right: args
padding-horizontal(arguments)
    sides('padding', arguments)