/**
    This is not a theme made by us, but we use it for Testing & Example purposes.
    All credit for this theme goes to: KorbsStudio (https://github.com/KorbsStudio)
    Source can be found here: https://github.com/dream-frame/Dream-Frame-Guilded
 */

@import url("https://dream-frame.github.io/Dream-Frame-Guilded/raw/raw.css");

:root {
    /* Background */
    --Background: url(https://wallpaperaccess.com/full/2029165.jpg);
    --BackgroundBrightness: 0.3;
    --BackgroundBlur: 0px;
    --BackgroundRepeat: no-repeat;
    --BackgroundScale: 1;
    --BackgroundRotation: 0deg;
}