* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #202020;
}

body {
    overflow: hidden;
}

.draggable {
    height: 25px;
    width: 100%;

    background-color: #313131;

    position: absolute;
    -webkit-app-region: drag;    
}

main {
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 302px;
    height: auto;

    fill: #CC3333;
}

h1 {
    color: #FFFFFF;

    margin: 10px;
}

h1 > span {
    color: #CC3333;
}

hr {
    width: 302px;
    border: 2px solid #313131;
    border-radius: 15px;
    margin: 10px;
}

.hidden {
    display: none;
}

.controlBtns {
    width: 200px;
    height: 75px;
    margin: 20px;
}

.controlBtns > button {
    width: 100%;
    height: 100%;
    font-size: 32px;
    border: none;
    border-radius: 10px;
    transition: 200ms ease;
}

.controlBtns > button:hover {
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transform: scale(1.15);
}

.inject {
    background-color: #cc3333;
    color: white;
}

.inject:hover {
    background-color: rgb(238, 76, 76);
    box-shadow: 0 0 20px #cc3333;
}

.uninject {
    background-color: #f5c400;
    color: #111820;
}

.uninject:hover {
    background-color: #f8d547;
    box-shadow: 0 0 20px #f5c400;
}